# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Testing
coverage

# Misc
.DS_Store
*.pem
.env
.env.*
!.env.example

# IDE
.idea
.vscode

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.docker

# Documentation
README.md
docs

# Tests
__tests__
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
jest.config.*
jest.setup.*
